body {
  font-size: 18px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 500;
}

/* Front page modifications */
div.container.template-home div.row img:first-of-type {
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

/* Header modifications */
.navbar .navbar-brand {
  font-weight: bold;
}
.navbar .fa-lg {
  font-size: inherit;
  line-height: inherit;
  vertical-align: 0;
}

/* Sidebar modifications */
#pkgdown-sidebar h2 {
  font-size: 2.25rem;
  letter-spacing: 0.02rem;
  padding-top: 1rem;
}
